{% load staticfiles %}
{% load blog_tags %}
{% load friend_tags %}
{% load user_tags %}

{% block recent-posts%}

    <div class="widget widget-recent-posts">
        <div class="widget-title"><h5 >个人信息</h5></div>
        <div class="widget-content">
            <div class="name_and_image">
                <img class="portrait" src="{{author.image}}" width="200px">
                <h3>{{author.username}}</h3>
            </div>
            <ul>
                {% if author.age %}
                    <li>年龄：{{author.age}}</li>
                {% endif %}
                {% if author.sex %}
                    <li>性别：{% get_gender author %}</li>
                {% endif %}
                {% if author.hobbies %}
                    <li>爱好：{{author.hobbies}}</li>
                {% endif %}
                {% if author.education %}
                    <li>学历：{% get_edu author %}</li>
                {% endif %}
                {% if author.school %}
                    <li>学校：{{author.school}}</li>
                {% endif %}
                {% if author.introduction %}
                    <li>个人介绍：{{author.introduction}}</li>
                {% endif %}
            </ul>
            <div class="add-friend">
                {% if user.is_authenticated %}
                    {% is_friend user.username author as is_friend_result %}
                    {% if is_friend_result %}
                        <form action="{% url 'users:delete_friend' author.pk %}" method="post">
                            {% csrf_token %}
                            <button class="friend_button" type="submit">取消关注</button>
                        </form>
                    {% else %}
                        <form action="{% url 'users:add_friend' author.pk %}" method="post">
                            {% csrf_token %}
                            <button class="friend_button" type="submit">关注</button>
                        </form>
                    {% endif %}
                {% endif %}
            </div>

        </div>
    </div>
{% endblock recent-posts %}