{% load staticfiles %}
{% load blog_tags %}

{% block recent-posts%}
    <div class="widget widget-recent-posts">
        <div class="widget-title"><h3 >最新文章</h3></div>
        <div class="widget-content">
            {% get_recent_posts as recent_post_list %}
            <ul>
                {% for post in recent_post_list %}
                <li>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </li>
                {% empty %}
                暂无文章！
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock recent-posts %}