{% load staticfiles %}
{% load blog_tags %}
{% load friend_tags %}
{% load recommand_tags %}

{% block category%}
    <div class="widget-div">
        <div class="widget-title"><h5 >你可能感兴趣</h5></div>
        <div class="widget-content user-content">
            {% get_recommand_users user as user_list %}
            <ul class="portrait-ul">
                {% for user in user_list %}
                <li class="portrait-li">
                    <div class="portrait-div">
                        <img class="recommand-portrait" src="{{user.image}}">
                        <p class="portrait-username"><a href="{{ user.get_absolute_url }}">{{ user }}</a></p>
                    </div>
                </li>
                {% empty %}
                暂无推荐用户！
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock category %}