{% load staticfiles %}
{% load blog_tags %}

{% block tag-cloud%}
    <div class="widget widget-tag-cloud">
        <div class="widget-title"><h3 >标签云</h3></div>
        <div class="widget-content">
            {% get_tags as tag_list %}
            <ul>
                {% for tag in tag_list %}
                <li>
                <a href="{% url 'blog:tag' tag.pk %}">{{ tag.name }}</a>
                </li>
                {% empty %}
                暂无标签！
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock tag-cloud %}