{% load staticfiles %}
{% load blog_tags %}

{% block tag%}
    <div class="widget widget-tag">
        <div class="widget-title"><h5 >标签</h5></div>
        <div class="widget-content tag-content">
            <ul>
                {% for tag in post.tags.all %}
                <li>
                    <div class="tag-li">
                        <a href="{% url 'blog:tag' tag.pk %}">{{ tag.name }}</a>
                    </div>

                </li>
                {% empty %}
                暂无标签！
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock tag %}