<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<form class="clearfix" id="jsAvatarForm" enctype="multipart/form-data" autocomplete="off" method="post" action="{% url "users:image_upload" %}" target='frameFile'>-->
    <!--<label class="changearea" for="avatarUp">-->
        <!--<span id="avatardiv" class="pic">-->
            <!--<img width="100" height="100" class="js-img-show" id="avatarShow" src="{{ MEDIA_URL }}{{ request.user.image }}"/>-->
        <!--</span>-->
        <!--<span class="fl upload-inp-box" style="margin-left:70px;">-->
            <!--<span class="button btn-green btn-w100" id="jsAvatarBtn">修改头像</span>-->
            <!--<input type="file" name="image" id="avatarUp" class="js-img-up"/>-->
        <!--</span>-->
    <!--</label>-->
    <!--<input type='hidden' name='csrfmiddlewaretoken' value='799Y6iPeEDNSGvrTu3noBrO4MBLv6enY' />-->
<!--{% csrf_token %}-->
</form>
</head>
<body>

</body>
</html>